.edit_div{
    border-bottom: 1px solid;
}
.header{
    text-align: center;
    background: url("../images/header_bg.png") no-repeat;
    background-size: 100%;
    font-size: 20px;
    color:white;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.preBtn{

}